*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100px;
  will-change: filter;
  transition: filter 300ms;
}

.logo{
  display: flex;
  gap: 10px;
  align-items: center;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.card {
  padding: 2em;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1500px;
  width: 100vw;
}

.activar{
  box-shadow: 0 0 20px red;
}

.activar:hover{
  border-color: green;
}

.desactivar:hover{
  border-color: red;
}

.desactivar{
  box-shadow: 0 0 20px green;
}

.card{
  border: 1px solid #ffffff32;
  width: 280px;
  box-shadow: 10px 10px 10px #ffffff32, 0 0 10px inset #ffffff4e;
  border-radius: 11px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} 